:root {
  /* Iceberg colour palette */
  --iceberg-background: #161821;
  --iceberg-foreground: #c6c8d1;
  --iceberg-black: #1e2132;
  --iceberg-red: #e27878;
  --iceberg-green: #b4be82;
  --iceberg-yellow: #e2a478;
  --iceberg-blue: #84a0c6;
  --iceberg-magenta: #a093c7;
  --iceberg-cyan: #89b8c2;
  --iceberg-white: #c6c8d1;
  --iceberg-lightBlack: #6b7089;
  --iceberg-lightRed: #e98989;
  --iceberg-lightGreen: #c0ca8e;
  --iceberg-lightYellow: #e9b189;
  --iceberg-lightBlue: #91acd1;
  --iceberg-lightMagenta: #ada0d3;
  --iceberg-lightCyan: #95c4ce;
  --iceberg-lightWhite: #d2d4de;

  /* Work in progress */
  --tridactyl-bg: var(--iceberg-background) !important;
  --tridactyl-fg: var(--iceberg-foreground) !important;

  --tridactyl-header-first-bg: var(--tridactyl-bg);
  --tridactyl-header-second-bg: var(--tridactyl-bg);
  --tridactyl-header-third-bg: var(--tridactyl-bg);

  --tridactyl-of-bg: var(--tridactyl-bg);
  --tridactyl-of-fg: var(--tridactyl-fg);

  --tridactyl-url-bg: var(--tridactyl-bg);
  --tridactyl-url-fg: var(--tridactyl-fg);
}
